table, td {
    font-family: sans-serif, oswald;/* I Prefer Oswald theme because its good,clean and is brought by google fonts !*/
    font-size: 15px;
    line-height: 1.8;
    color: yellow;
    border: 1px solid #aaa;
}
table {
    border-collapse: collapse;
    margin: 15px 15px;
    background-color: #f9f9f9;
}
td {
    padding: 0.2em 0.4em;
}
